*{
    margin: 0;
    padding: 0;
}
#banner{
    background-color:black;
    background-size:cover;
    height: auto;
}
.banner-text{
    text-align: center;
    color: white;
    padding-top:100PX;
}
.banner-text h1{
   font-size: 20px;
   font-family: 'Courier New', Courier, monospace; 
   font-style: italic;
}
.banner-text ul{
    position:top;
    

}