*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: 100vh;
    background: url(IMAGES/IMG4.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: index 99;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font: weight 500;
    margin-left: 40px;
    text-decoration: solid;
}
.navigation a::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}
.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: blue;
    font-weight: 500;
    margin-left: 40px;
    transition: 1s;
}
.navigation .btnLogin-popup:hover{
    background:blue;
    color: white;
}
